.landingbody{
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.titletext{
    font-weight: 800;
    font-size: 3rem;
    width: 60rem;
    text-align: center;
}

.grad{
    background: -webkit-linear-gradient(45deg,#93A7EE, #F19EFF);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.subtitle{
    font-size: 1.5rem;
}

.startbtn{
    width: 20rem;
    height: 3rem;
    font-size: 1.3rem;
    color: white;
    border-radius: 0.5rem;
    background-color: #93A5EC;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.27);

}

.landingsubbody{
    background-color: #93A5EC;
    height: 90vh;
    width: 100%;
    font-weight: 800;
    font-size: 2.5rem;
    text-align: left;
    line-height: 3rem;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.span1{
    color: #FFF61C;
}

.span2{
    color: #00FFD1;
}

.span3{
    background: -webkit-linear-gradient(45deg,#FFF61C, #00FFD1);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.slider{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.sliderlarge{
    height: 18rem;
    width: 25rem;
    background-color: grey;
    border-radius: 0.5rem;
}

.slidersmall{
    height: 8rem;
    width: 15rem;
    background-color: pink;
}